p {
  margin: 0px;
  top: 45%;
  position: relative;
  text-align: center;
}
#container-a, #container-b {
  width: 478px;
  height: 148px;
}

#container-c, #container-c {
  width: 478px;
  height: 123px;
}
#container-d {
  width: 478px;
  height: 123px;
}
#container-e, #container-g {
  width: 238px;
  height: 248px;
  float: left;
}
#container-f, #container-h {
  width: 238px;
  height: 248px;
  float: right;
}
#container-i {
  width: 478px;
  height: 78px;
  float: right;
}

@media screen and (min-width: 800px) {
  #container-a {
    width: 958px;
    height: 98px;
  }
  #container-b {
    width: 198px;
    height: 598px;
    float: left;
  }
  #container-c {
    width: 378px;
    height: 198px;
    float: left;
  }
  #container-d {
    width: 378px;
    height: 198px;
    float: right;
  }
  #container-e, #container-f, #container-g, #container-h {
    width: 188px;
    height: 248px;
    display: inline-block;
  }
  #container-i {
    width: 758px;
    height: 148px;
    float: right;
  }
}